
	<page-title ng-if="layoutOptions.pageTitles" title="Add Device" description="Add Devices"></page-title>


<div class="row">
	<div class="col-sm-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Create device</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<form
                                    name="deviceForm"
                                    id="deviceForm"
                                    novalidate="novalidate"
                                    data-ng-submit="create()"
                                    late-validate-form
                                    display-server-side-errors class="form-horizontal ng-pristine ng-valid">

					<div class="form-group">
						<label class="col-sm-2 control-label" for="client_sw_no">Client SW No</label>

						<div class="col-sm-10">
							<input type="text"
                                                                name="client_sw_no"
                                                                id="client_sw_no"
                                                                ng-model="client_sw_no"
                                                                ng-minlength="2"
                                                                ng-maxlength="50"
                                                                ng-required="true"
                                                                clear-server-side-validation
                                                               class="form-control" placeholder="Client SW No">
						</div>
                                                <small class="error" ng-show="showClientSideValidationErrors(deviceForm.client_sw_no, 'minlength')">* Please use at least 2 characters
                                                </small>
					</div>
                                    
                                        <div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="client_dev_no">Client Dev No</label>

						<div class="col-sm-10">
							<input type="text"
                                                                name="client_dev_no"
                                                                id="client_dev_no"
                                                                ng-model="client_dev_no"
                                                                ng-minlength="2"
                                                                ng-maxlength="50"
                                                                ng-required="true"
                                                                clear-server-side-validation
                                                               class="form-control" placeholder="Client Dev No">
						</div>
                                                <small class="error" ng-show="showClientSideValidationErrors(deviceForm.client_dev_no, 'minlength')">* Please use at least 2 characters
                                                </small>                                                
					</div>

					<div class="form-group-separator"></div>
                                        
                                        <div class="form-group">
						<label class="col-sm-2 control-label" for="client_public_key">Client Public Key</label>

						<div class="col-sm-10">
							<textarea
                                                            
                                                            rows="10"
                                                                name="client_public_key"
                                                                id="client_public_key"
                                                                ng-model="client_public_key"
                                                                ng-minlength="30"
                                                                ng-required="true"
                                                                clear-server-side-validation
                                                               class="form-control" placeholder="Client Public Key">
                                                        </textarea>
						</div>
                                                <small class="error" ng-show="showClientSideValidationErrors(deviceForm.client_public_key, 'minlength')">* Please use at least 30 characters
                                                </small>                                                
					</div>
                                        
                                        <div class="form-group-separator"></div>
                                        
                                        <div class="form-group">
						<label class="col-sm-2 control-label" for="client_certificate">Client Certificate</label>

						<div class="col-sm-10">
							<textarea
                                                                rows="10"
                                                                name="client_certificate"
                                                                id="client_certificate"
                                                                ng-model="client_certificate"
                                                                ng-minlength="30"
                                                                ng-required="true"
                                                                clear-server-side-validation
                                                               class="form-control" placeholder="Client Certificate">
                                                        </textarea>
						</div>
                                                <small class="error" ng-show="showClientSideValidationErrors(deviceForm.client_certificate, 'minlength')">* Please use at least 30 characters
                                                </small>                                                
					</div>
                                        
                                        <div class="form-group">
						<button type="submit" class="btn btn-info btn-single pull-right" ng-disabled="!canSave()" translate>Add</button>
					</div>


				</form>

			</div>
		</div>

	</div>
</div>
