<div class="row">
    <div class="small-8 columns">

        <p></p>
        <table id="devices">

            <thead>
                <tr>
                    <th translate>Client SW No</th>
                    <th translate>Create Date</th>
                </tr>
            </thead>

            <tbody>

            <tr data-ng-hide="!devices || devices.length">
                <td colspan="2">
                    <p translate>There are no devices yet.</p>

                    <p ng-show="global.isSignedIn()"><span translate>Why don't you</span> <a href="/#!/devices/create" translate>Create One</a>?</p>
                </td>
            </tr>

            <tr ng-repeat="device in devices" ng-click="go.to('/devices', device._id, 'back')">
                <td>{{ device.client_sw_no }}</td>
                <td nowrap="nowrap"> {{ device.created_at | date:'fullDate' }}</td>
            </tr>

            </tbody>

        </table>
    </div>

    <div class="small-4 columns">
    </div>

</div>
